In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 120)

In [2]:
# INPUT FILE (raw spot data)
input_file = "../data/nifty_spot_5min.csv"

df = pd.read_csv(input_file)

print("Raw data loaded successfully ✅")
df.head()

Raw data loaded successfully ✅

              datetime      open      high       low     close  volume
0  2024-01-01 09:15:00  21727.75  21737.35  21693.55  21693.75       0
1  2024-01-01 09:20:00  21693.90  21701.05  21684.75  21696.55       0
2  2024-01-01 09:25:00  21697.30  21704.10  21693.20  21700.80       0
3  2024-01-01 09:30:00  21700.15  21705.80  21684.05  21703.05       0
4  2024-01-01 09:35:00  21703.05  21711.90  21689.70  21689.70       0

In [7]:
print("Shape:", df.shape)
print("\nColumns:", df.columns)
print("\nData Types:\n", df.dtypes)

Shape: (18504, 6)

Columns: Index(['datetime', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

Data Types:
 datetime     object
open        float64
high        float64
low         float64
close       float64
volume        int64
dtype: object