In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
import pandas as pd

file_path = "../data/nifty_5_mindata.xlsx"

df = pd.read_excel(file_path)

print("File read successfully ✅")
df.head()
df.columns = df.columns.str.lower()

File read successfully ✅

In [27]:
print(df.columns)

df['datetime'] = pd.to_datetime(df['datetime'], format="%d-%m-%Y %H:%M")
df = df.sort_values('datetime').reset_index(drop=True)
df.head()

Index(['datetime', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

             datetime      open      high       low     close  volume
0 2024-01-01 09:15:00  21727.75  21737.35  21693.55  21693.75       0
1 2024-01-01 09:20:00  21693.90  21701.05  21684.75  21696.55       0
2 2024-01-01 09:25:00  21697.30  21704.10  21693.20  21700.80       0
3 2024-01-01 09:30:00  21700.15  21705.80  21684.05  21703.05       0
4 2024-01-01 09:35:00  21703.05  21711.90  21689.70  21689.70       0

In [28]:
df.to_csv("../data/nifty_spot_5min.csv", index=False)
print("CSV file saved successfully ✅")

CSV file saved successfully ✅